body {
    background: #e8f0f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

#menu {
    background-color: #2e205c;
    padding: 15px;
    text-align: center;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    color: #f05cf7;
}

img {
    width: 170px;
    height: 150px;
    border-radius: 10px;
}

#agrupar {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    background-color: #2e205c;
    padding: 20px;
    border-radius: 10px;
}

#contenido {
    text-align: center;
    margin-top: 20px;
}

#tamano {
    width: 100%;
    height: auto;
}

.texto {
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido {
    flex: 1; /* Permite que el contenido ocupe el espacio disponible */
}

footer {
    background-color: #2e205c;
    color: white;
    padding: 20px 0;
    margin-top: auto; /* Mueve el footer al final */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p {
    line-height: 1.5;
}

.footer-section a {
    color: #ddd;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #2e205c;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }